body::-webkit-scrollbar {
    display: none;
}

.landing {
    position: relative;
    background: url("./assets/landing.jpg") no-repeat center center/cover;
    height: 100vh;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.landing-inner {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-inner form {
    width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
    color: white;
}

.btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: transparent;
    border: none;
}

.btn-floating:hover {
    background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
